@{
    ViewData["Title"] = "Добави човек";
}

@model AddPersonBaseModel

<h1 class="mt-4">Добави човек</h1>
<hr />
<partial name="_TempDataPartial" />

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.RegisterNumber"></label>
            <input class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.RegisterNumber" autocomplete="off" />
            <span asp-validation-for="@this.Model.AddPersonInputModel.RegisterNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.Position"></label>
            <input list="positions" class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.Position" autocomplete="off" />
            <datalist id="positions">
                @foreach (var currentPosition in this.Model.AllPositions)
                {
                    <option>@currentPosition</option>
                }
            </datalist>
            <span asp-validation-for="@this.Model.AddPersonInputModel.Position" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.TechnicalControl"></label>
            <input list="technicalControls" class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.TechnicalControl" autocomplete="off" />
            <datalist id="technicalControls">
                @foreach (var currentTechnicalControl in this.Model.AllTechnicalControls)
                {
                    <option>@currentTechnicalControl</option>
                }
            </datalist>
            <span asp-validation-for="@this.Model.AddPersonInputModel.TechnicalControl" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.FirstName"></label>
            <input class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.FirstName" autocomplete="off" />
            <span asp-validation-for="@this.Model.AddPersonInputModel.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.MiddleName"></label>
            <input class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.MiddleName" autocomplete="off" />
            <span asp-validation-for="@this.Model.AddPersonInputModel.MiddleName" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.LastName"></label>
            <input class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.LastName" autocomplete="off" />
            <span asp-validation-for="@this.Model.AddPersonInputModel.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.Section"></label>
            <input list="sections" class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.Section" autocomplete="off" />
            <datalist id="sections">
                @foreach (var currentSection in this.Model.AllSections)
                {
                    <option>@currentSection</option>
                }
            </datalist>
            <span asp-validation-for="@Model.AddPersonInputModel.Section" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.LegalCapacity"></label>
            <input list="legalCapacities" class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.LegalCapacity" autocomplete="off" />
            <datalist id="legalCapacities">
                @foreach (var currentLegalCapacity in this.Model.AllLegalCapacities)
                {
                    <option>@currentLegalCapacity</option>
                }
            </datalist>
            <span asp-validation-for="@Model.AddPersonInputModel.LegalCapacity" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="@this.Model.AddPersonInputModel.TechnologistKind"></label>
            <input class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.TechnologistKind" autocomplete="off" />
            <span asp-validation-for="@Model.AddPersonInputModel.TechnologistKind" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            <label asp-for="@this.Model.AddPersonInputModel.Phone"></label>
            <input class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.Phone" autocomplete="off" />
            <span asp-validation-for="@Model.AddPersonInputModel.Phone" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-6">
            <label asp-for="@this.Model.AddPersonInputModel.Email"></label>
            <input class="form-control" type="text" asp-for="@this.Model.AddPersonInputModel.Email" autocomplete="off" />
            <span asp-validation-for="@Model.AddPersonInputModel.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12">
            <button class="btn btn-success" asp-area="Administration" asp-controller="AddPerson" asp-action="AddPerson">
                Създай
            </button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="~/lib/tinymce/visualizer.js" type="text/javascript"></script>
}