@{
    ViewData["Title"] = "Начало";
}

@model HomeViewModel

<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        @foreach (var news in this.Model.TopFiveNews)
        {
            <div class="item item-1">
                <div class="img-fill" style="background-image: url('../../Images/Office.jpg')">
                    <div class="text-content">
                        <h6>@news.CreatedOn.ToLocalTime().ToString("dd-MM-yyyy")</h6>
                        <h4>@news.Title</h4>
                        <p>@news.ShortDescription</p>
                        <a asp-area=""
                           asp-controller="News"
                           asp-action="CurrentNews"
                           asp-route-id="@news.Id" class="filled-button">
                            Прочети още
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Banner Ends Here -->
@if (this.SignInManager.IsSignedIn(this.User) && !this.Model.HasAdmin)
{
    <br />
    <br />
    <br />
    <div class="request-form" style="margin-top: 100px">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Сайта все още няма администратор!!!</h4>
                    <span>Моля Вир направете се администратор</span>
                </div>
                <div class="col-md-4">
                    <a asp-area="" asp-controller="Home" asp-action="MakeYourselfAdmin" class="border-button">
                        Стани Администратор
                    </a>
                </div>
            </div>
        </div>
    </div>
}
<div class="request-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Имате ли въпроси към нас ?</h4>
                <span>Не се колебайте да се свържете с нас още сега.</span>
            </div>
            <div class="col-md-4">
                <a class="border-button" asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Нашите последни <em>3 новини</em></h2>
                </div>
            </div>
            @foreach (var news in this.Model.TopThreeNews)
            {

                <div class="col-md-4">
                    <div class="service-item">
                        <img src="assets/images/page-heading-bg.jpg" alt="">
                        <div class="down-content">
                            <h4>@news.Title</h4>
                            <p>@news.ShortDescription</p>
                            <a asp-area=""
                               asp-controller="News"
                               asp-action="CurrentNews"
                               asp-route-id="@news.Id" class="filled-button">
                                Прочети още
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}